################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroRabbit/.vs/MicroRabbit/v15/.suo
MicroRabbit/.vs/MicroRabbit/v15/.suo
MicroRabbit/.vs
/MicroRabbit/.vs/MicroRabbit/v15/Server/sqlite3
/MicroRabbit/MicroRabbit.Domain.Core/obj
/MicroRabbit/MicroRabbit.Domain.Core/bin/Debug/netcoreapp2.2
/MicroRabbit/MicroRabbit.Infra.IOC/bin/Debug/netcoreapp2.2
/MicroRabbit/MicroRabbit.Infra.IOC/obj
/MicroRabbit/MicroRabbitInfraBus/bin/Debug/netcoreapp2.2
/MicroRabbit/MicroRabbitInfraBus/obj
/MicroRabbit/MicroRabbit.Banking.Api/obj
/MicroRabbit/MicroRabbit.Banking.Data/obj
/MicroRabbit/MicroRabbit.Banking.Application/obj
/MicroRabbit/MicroRabbit.Banking.Domain/obj
